{% extends 'base.html' %}

{% block title %}
    {{ header }}
{% endblock title %}


{% block page %}
    <h1>{{ header }}</h1>
    <p>{{description}}</p>
    <form action="{% url 'doska:delete' announcement.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="delete announcement">
    </form>
{% endblock page %}