<div class="post">
    {% if request.path == post.get_absolute_url %}
    <h2>Title: {{ post.title }}</h2>
    {% else %}
    <h2>Title: <a href="{{ doska.get_absolute_url }}">{{ announcement.title }}</a></h2>
    {% endif %}
    <p>Author: <a href="{% url 'core:profile' announcement.author.id %}">{{ announcement.author }}</a></p>
    <p>Description: {{ announcement.description }}</p>
    <img style="width: 100px" src="{{ announcement.avatar.url }}" alt="{{ announcement.title }}">
    {% if request.user.is_authenticated and request.user == announcement.author %}
    <a href="{% url 'doska:delete' announcement.id %}">X</a>
    {% endif %}
</div>