{% extends 'base.html' %}

{% block title %}
    {{ header }}
{% endblock title %}


{% block page %}
    <h1>{{ header }}</h1>
    <form action="{% url 'doska:announcement_create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create post">
    </form>
{% endblock page %}