
{% extends 'base.html' %}

{% block title %}
    {{ header }}
{% endblock title %}


{% block page %}
    <h1>{{ header }}</h1>
    <a href="{% url 'doska:index' %}">На главную</a>
    {% if announcement %}
        {% include 'anno_info.html' %}
    {% endif %}
{% endblock page %}