{% extends 'base.html' %}
{% load static %}


{% block static_files %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'doska/css/index.css' %}" type="text/css">
{% endblock static_files %}

{% block title %}
{{ header }}
{% endblock title %}


{% block page %}
<h1>{{ header }}</h1>
{% if announcements %}
<ul class="announcement">
    {% for announcement in announcements %}
    <li class="announcement__item">
        {% include 'anno_info.html' %}
    </li>
    {% endfor %}
</ul>
{% else %}
<h2>Объявлений нет!</h2>
<a href="{% url 'doska:announcement_create' %}">Создать объявление</a>
{% endif %}

{% endblock page %}