{% extends 'base.html' %}

{% block title %}
    {{ header }}
{% endblock title %}

{% block login %}
{% endblock login %}

{% block page %}
    <h1>{{ header }}</h1>
    <form action="{% url 'doska:login' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Login">
    </form>
    <h2>Забыли пароль?</h2>
    <p><a href="{% url 'doska:password_reset' %}">Восстановить пароль</a></p>
{% endblock page %}