{% extends 'base.html' %}

{% block title %}
    {{ header }}
{% endblock title %}

{% block login %}
{% endblock login %}

{% block page %}
    <h1>{{ header }}</h1>
    <form action="{% url 'doska:signup' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Signup">
    </form>
{% endblock page %}