{% extends 'base.html' %}

{% block title %}
    {{ header }}
{% endblock title %}

{% block login %}
{% endblock login %}

{% block page %}
    {% if not user.is_authenticated %}
        <p>Ваш пароль был сброшен! Ищите ссылку у себя на почте!)</p>
    {% else %}
        <form method="post" action="{% url 'doska:logout' %}">
            {% csrf_token %}
            <button type="submit">Exit</button>
        </form>
    {% endif %}
{% endblock page %}